/* styles.css */

/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
   


/* Заголовки */
h1 {
    color: #4CAF50;
    text-align: center;
}

h2 {
    color: #333;
    border-bottom: 6px solid green;
    padding-bottom: 25px;
}

/* Абзацы */
p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Стили для изображения */
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

div{
    padding: 100px;
    width: 24px;
    background-image: url("src/walli.jpeg");
    opacity: 0.9;
}

/* Сильный текст */
strong {
    color: #4CAF50;
}

/* Список навыков */
ul {
    list-style-type: square;
    padding-left: 20px;
}

.skills li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

li {
    margin-bottom: 40px;
}

/* Ссылки */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
